---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Mayor Aqua" id="intro">
  <Fragment slot="lead">
    Toko ikan & jasa ekspidisi ada untuk Anda di
    <span class="text-primary">satu</span> tempat.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="tel:+628119699927"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="telephone" class="h-8" />
      <span>Hubungi</span>
    </a>
    <a
      href="https://maps.app.goo.gl/rCHzAZrPzLzLmd6x5"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="map" class="h-8" />
      <span>Lokasi</span>
    </a>
  </div>
</ContentSection>
