---
import HeroImage from "~/components/hero-image.astro";
import Canvas from "~/components/canvas.astro";
import MayorAquarium from "~/assets/mayor.png";
import { Picture } from "@astrojs/image/components";
import GoDown from "./go-down.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative h-full bg-gradient-to-b from-cyan-500 to-blue-900">
  <Canvas />
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </div>
  <div class="relative grid h-full place-items-center sm:grid-cols-2">
    <h2
      class="flex flex-col gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end"
    >
      <div
        class="splash-text text-center font-extrabold tracking-tighter text-8xl"
      >
        Mayor
        <br /> Aquarium
        <br /> &
        <br /> Ekspedisi
      </div>
    </h2>
    <div
      class="w-2/3 max-w-3xl h-1/2 mt-5 self-start sm:w-10/12 sm:self-auto sm:justify-self-center"
    >
      <Picture
        class="object-scale-down w-full h-full"
        src={MayorAquarium}
        widths={widths}
        sizes={sizes}
        loading="eager"
        alt="A floating astronaut in a space suit"
      />
    </div>
  </div>
  <GoDown />
</section>

<style>
  .splash-text {
    @apply bg-clip-text text-transparent;
    @apply bg-gradient-to-bl to-blue-300 from-blue-100;
  }
</style>
